---
import "../styles/global.css";
import { ThemeSwitch } from "../components/theme-switch";
import { Card } from "../components/card";
import Base from "../layouts/base.astro";
import { menu } from "../data/menu";
import type { Locale } from "../utils/locale";

const locale: Locale = "en";
---

<Base>
  {
    menu.map(({ title, sections, colors }, index) => (
      <Card
        className="rounded-t-3xl relative"
        style={index === 0 ? undefined : { marginTop: -index * 24 }}
        colors={colors}
        client:load
      >
        <header class="flex justify-between flex-wrap">
          <div>
            <h1 class="font-medium font-header text-5xl md:text-7xl">21PM</h1>
            <span class="uppercase font-bold">{title[locale]}</span>
          </div>
          <ThemeSwitch client:load />
        </header>
        <div class="h-20" />
        <div class="flex gap-8 flex-col">
          {sections.map((section) => (
            <div>
              <div class="flex justify-between">
                {section.header ? (
                  <span class="uppercase font-bold font-subheader">
                    {section.header[locale]}
                  </span>
                ) : null}
                {section.tip ? <span>{section.tip[locale]}</span> : null}
              </div>
              <hr class="text-current my-2" />
              <div class="flex flex-col gap-2">
                {section.items.map((item) => (
                  <div class="flex justify-between">
                    <span class="max-w-sm">{item.title[locale]}</span>
                    <span class="font-subheader text-lg">
                      {item.subtitle[locale]}
                    </span>
                  </div>
                ))}
              </div>
            </div>
          ))}
        </div>
        <div class="h-20" />
      </Card>
    ))
  }
</Base>
../data/menu
